body{
  margin: 0;
  padding: 0;
  width: 100%;
}
.container{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.content{
  text-align: center;
  width: 25.3%;
  height: auto;
  margin: 1%;
  padding: 3%;
  display: inline-block;
  float: left;
  background-position: center;
}
#cont1{
  background-image: url(https://source.unsplash.com/random);
}
#cont2{
  background-image: url(https://source.unsplash.com/random);
}
#cont3{
  background-image: url(https://source.unsplash.com/random);
}
#cont4{
  background-image: url(https://source.unsplash.com/random);
}
#cont5{
  background-image: url(https://source.unsplash.com/random);
}
#cont6{
  background-image: url(https://source.unsplash.com/random);
}
#cont7{
  background-image: url(https://source.unsplash.com/random);
}
#cont8{
  background-image: url(https://source.unsplash.com/random);
}
#cont9{
  background-image: url(https://source.unsplash.com/random);
}
.content > p{
  color: white;
}
